.Tickets {
  overflow: scroll;
  min-width: 22.2%;
  max-width: 22%;
  border-radius: 11px 11px 11px 11px;
}
.TicketsCards {
  border-radius: 11px 11px 11px 11px;
  -moz-border-radius: 11px 11px 11px 11px;
  -webkit-border-radius: 11px 11px 11px 11px;
  border: 0px solid #000000;
  /*  */
  box-shadow: -1px 1px 10px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 1px 10px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 10px -3px rgba(0, 0, 0, 0.75);
}
.TicketsBadge {
  border-radius: 9px 9px 9px 9px;
  -moz-border-radius: 9px 9px 9px 9px;
  -webkit-border-radius: 9px 9px 9px 9px;
  border: 0px solid #000000;
  box-shadow: -3px 1px 10px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -3px 1px 10px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px 1px 10px -3px rgba(0, 0, 0, 0.75);
}
.TicketsBox {
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border: 0px solid #000000;
}
.TicketsCards {
  min-height: 10rem;
  max-height: 50rem;
}
.TicketsDetail {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  padding-top: 1em;
}

.imgContainer {
  margin-top: 1em;
  max-width: 100%;
}
