body {
  margin: 0;
  padding: 0;
}

.container {

  display: flex;
  /* background-color:green; */
  justify-content: center;
  padding-bottom: 33.5%;
}

.LandingBox {
  margin-top: 17%;
}
.LandingHeaders{
  font-size: 6rem;
  margin-bottom:6rem;
}
.LandingSighUp{
  display: flex;
  gap: 14rem;
}