.ticketDetails {
  width: 90%;
  height: 60rem;
  border: 1px solid black;
}

.ticketDetailsMainContainer {
  display: flex;
  height: 70%;
  margin-left: 30em;
  margin-right: 5em;
  padding-top: 9em;
  gap: 2rem;
}

.ticketDetailsMainContainer {
  display: flex;
}

.ticketDetailsContainerLeftSide {
  /* border: 1px solid black; */
  width: 50%;
  box-shadow: 1px 13px 55px -11px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 1px 13px 55px -11px rgba(0, 0, 0, 1);
  -moz-box-shadow: 1px 13px 55px -11px rgba(0, 0, 0, 1);
}

.ticketDetailsContainerRightSide {
  box-shadow: 1px 13px 55px -11px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 1px 13px 55px -11px rgba(0, 0, 0, 1);
  -moz-box-shadow: 1px 13px 55px -11px rgba(0, 0, 0, 1);
  /* border: 1px solid black; */
  width: 35%;
}
.ticketDetailsContainerTopSide {
  display: flex;
  border: 1px solid black;
  height: 5rem;
  /* flex-direction: ; */
}
.ticketDetailsContainer {
  overflow: auto;
  height: 14rem;
  margin-top: 1rem;
  padding-left: 1em;
  /* border: 1px solid black; */
  padding-right: 1em;
}
.ticketDetailsAssignedSubject {
  background-color: green;
  border: 1px solid black;
}
.ticketDetailSeverityDate {
  background-color: red;
  border: 1px solid black;
}
.ticketDetailsH1 {
  margin-top: 1rem;
  padding-left: 1rem;
  border-bottom: 1px solid black;
  font-size: 2rem;
}
