.mainComponent {
  display: flex;
  justify-content: center;
  margin-top: 7rem;
  margin-right: 2rem;
  margin-left: 7 rem;
  height: 40rem;
  padding: 0;
}

.createTicketSubject {
  width: 19rem;
  height: 3rem;
  border: 1px solid grey;
  width: 100%;
}

.createTicketDetail {
  display: flex;
  width: 100%;
  height: 20rem;
  resize: vertical;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  border: 1px solid grey;
  flex-wrap: nowrap;
  padding-bottom: 20rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

.subjectAndAddTicket {
  display: flex;
  gap: 31.7rem;
  margin-bottom: 1rem;
}

.subjectAndAddTicket {
  display: flex;
  gap: 16.7rem;
}

.createTicketForm {
  width: 90%;
}

.createTicket {
  display: flex;
  justify-content: center;
}

.CreateTicketsAddATicket {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.createTicketInputBottom {
  display: flex;
  gap: 4rem;
  height: 17.9%;
}
.createTicketInputBottomLeft {
  display: flex;
  /* background-color: blue; */
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
  font-size: 1.5rem;
}

.addTicketSeverity {
  border: 1px solid black;
  width: 12%;
}
.createTicketAssignedTo {
  border: 1px solid grey;
}
.createTicketAssignedToInput {
  padding-top: 1rem;
}
.createTicketStatus {
  border-bottom: 1px solid black;
  width: 100%;
  padding-bottom: 1rem;
  padding-top: 0.2rem;
}
.createTicketInputBottomRight {
  display: flex;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
  font-size: 1.5rem;
  flex-direction: column;
}
.createTicketSeverity {
  padding-bottom: 0.8rem;
}
.createTicketSeverityInput {
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  width: 40%;
}
.createTicketProblems {
  padding-top: 1.5rem;
  border-top: 1px solid black;
  width: 40%;
  padding-top: 1rem;
}
.createTicketProblemsInput {
  border: 1px solid black;
  width: 100%;
}
