.allTicketCard {
  flex-wrap: wrap;
  overflow: auto;
  height: 51rem;
  /* background-color: red; */
  margin-left: 2rem;
  margin-right: -1rem;
}
.innerTicketCard {
  display: flex;
  width: 100;
  gap: 1rem;
  flex-wrap: wrap;
}