.allTicketCard {
  flex-wrap: wrap;
  overflow: auto;
  height: 51rem;
  margin-left: 2rem;
  margin-right: -1rem;
}

.innerTicketCard {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.ticketCard {
  width: 31rem;
  display: flex;
  border-width: 1px;
  padding: 0;
  box-shadow: 2px 2px 23px -11px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 2px 2px 23px -11px rgba(0, 0, 0, 1);
  -moz-box-shadow: 2px 2px 23px -11px rgba(0, 0, 0, 1);
}

.ticketCardTopHeader {
  display: flex;
  width: 25rem;
  align-items: baseline;
}

.assingedTo {
  display: flex;
  justify-content: flex-end;
  margin-left: 9rem;
  padding-right: 2rem;
}

.ticketDate {
  display: flex;
  width: 20rem;
  gap: 1rem;
  align-items: baseline;
}

.AllTicketsDetails {
  padding: 10px;
  border-color: rgb(238, 231, 231);
  height: 9rem;
  border-width: 1px;
  width: 98%;
  margin-bottom: 10px;
  overflow: auto;
}

.AllTicketsButton {
  display: flex;
  gap: 1.2rem;
}

.ticketSubject {
  width: 175px;
}

.ticketButtonAndSubject {
  display: flex;
  align-items: baseline;
}
